.shopcategory-banner{
display: block;
}
.shopcatagory-indexSort{
    display:flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;

}
.shopcatagory-sort{
    padding: 10px 20px;
    align-items: center;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    border-radius: 40px;
    border:  1px solid #888;
}
.shopcatagory-indexSort p span{
    font-weight: 600;

}
.shopcatagory-product{
    margin: 20px 170px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    row-gap: 80px;
}
.shopcatagory-loadmore
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:1280px){
    .shopcategory-banner{
        margin:20px auto;
        width: 90%;
    }
    .shopcatagory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcatagory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcatagory-indexSort p{
        font-size: 12px;
    }
    .shopcatagory-product{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcatagory-product .item{
        margin: auto;
    }
    .shopcatagory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width:800px)
{
    .shopcategory-banner{
        width: 95%;
    }
    .shopcatagory-product{
        width: 95%;
    }
    .shopcatagory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;

    }
}
@media(max-width:500px){
    .shopcatagory-product{
        grid-template-columns:1fr 1fr ;
    }
}